key.yaml
*/outputs
*/.ipynv_checkpoints
*.txt
*.txt.*
robust_prompt/RGB/result-en/*.json
robust_prompt/RGB/result-en/*.png
*/__pycache__/*.pyc

*/.cache
datasets/dolma/dolma_v1_6-sample
.pt
.npy
.log
*wandb
*cpython*
*.tsv.gz
*.bin
*/model.pt
.gz
*.pt
*.bak
pyserini
*.log
*/.cache

hyqe/hyqe/indexes/* 
hyqe/hyqe/*.log 

hyqe/hyqe/results/

hyqe/hyqe/src/.cache/* 
 
 
pyserini/
anserini/

*.parquet
hyqe/hyqe/results/ 

*.jar
*.lock 
pyserini/docs/*
